:root {
    --dark: rgb(36, 36, 36);
}

html {
 background-color: gray;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

nav {
    background-color: honeydew;
    height: fit-content;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.start-container {
    display: none;
    margin: 20px;
    background-color: black;
    color: white;
    text-align: center;
    width: 50vw;
    height: 50vh;
    padding: 15px;

}

.timer {
    align-self: flex-end;
    width: fit-content;
    /* margin-left: 85%; */
}

.highscores {
    width: fit-content;
    height: fit-content;
}

.hide {
    display: hide;
}

.quiz-container {
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    justify-content: flex-start; 
    align-content: center;
    margin: 25px;
    padding: 10px;
}

.question {
    font-size: 20px;
    font-weight: bolder;
    color: var(--dark);
    width: 40vw;
    margin-bottom: 15px;
}

.option-list {
 background-color: darkblue;
 color: white;
 border-radius: 4px;
 width: fit-content;
 margin: 5px;
 padding: 5px;

}

.option-list:hover{
transform: scale(1.05);
box-shadow: 3px 3px 3px black;
cursor: pointer;
}

