:root {
    --dark: rgb(36, 36, 36);
}

html {
 background-color:white;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

nav {
    background-color: darkblue;
    height: fit-content;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    column-gap: 60%;
}

.start-container {
    display: -ms-inline-flexbox;
    margin: 20px;
    background-color: darkblue;
    color: white;
    text-align: center;
    width: 50vw;
    height: 50vh;
    padding: 15px;
    border-radius: 25px;

}

.timer {
    width: fit-content;
    color: white;
}

.highscores {
    width: fit-content;
    height: fit-content;
    color: orange;
}


.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-content: center;
    margin: 25px;
    padding: 10px;
    width: 50vw;
    height: 50vh;

}

.question {
    font-size: 23px;
    font-weight: bolder;
    color: var(--dark);
    width: 40vw;
    margin-bottom: 15px;
}

.option {
 background-color: darkblue;
 color: white;
 border-radius: 4px;
 width: fit-content;
 margin: 5px;
 padding: 5px;

}

.option:hover{
transform: scale(1.05);
box-shadow: 2px 2px 2px darkblue;
cursor: pointer;
}

footer {
    display: flex;
    color: lightgray;
    background-color: white;
    border-top: lightgray solid 3px;
    font-style: italic;

}

.start-btn {
    color: var(--dark);
    font-size: 20px;
    font-weight: bolder;
    align-self: center;
}

.hide {
    display: none;
}